body {
	padding-top: 60px;
}

.alert {
	padding: 8px 30px 0px 14px;
}
.modal-body {
    max-height: 800px;
}

body .modal {
    width: 660px;
    margin-left: -280px;
}

img.midicon { 
	vertical-align: middle;
	height: 18px;
}

img.midiconlarge { 
	vertical-align: middle;
}

.tag-lvl1 {
	background: #10B240;
	border: 1px solid #059430;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: default;
	display: inline-block;
	margin: 2px;
	vertical-align: middle;
	border-style: solid;
}

.tag-lvl2 {
	border-top: 1px solid #62EF88;
	display: inline-block;
	padding: 0 10px 2px 10px;
	font-size: 12px
}

.progress-span {
	display:none;
	text-align: center;
}

.progress-div {
	display:none;
	text-align: center;

	width: 50%;
    margin: 0px auto;
}

li.classifier_li {
	color: #606060;
	padding: 2px 0px;
}

ul.classifier_un {
	padding: 8px 10px;
	list-style: none;
	background: #F5F5F5; 
	margin: 0px 0px;
}

ul.classifier_un ul {
	background: #E5E5E5; 
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
}

ul.classifier_un ul ul          { background: #D5D5D5; }
ul.classifier_un ul ul ul       { background: #C5C5C5; }