{% extends "main.html" %}

{% block section_title %}
	<img src="/static/terminal-icon.png" class="midicon"> {{ dist.project_name }} 
	<small>version {{ dist.version }}</small><br/>
	{% if pkginfo.summary %}<small>{{ pkginfo.summary }}</small>{% endif %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="span10">

	{% if  description_render %}
		{{ description_render|safe }}
		<br /> <br />
	{% endif %}

	{% if pkginfo["metadata-version"] %}

		{{ pkginfo.package_name }}

		<br />	

		{{ pkginfo.package_name }}


		<br />

		{{ pkginfo.author }}

		<br />

		{{ pkginfo.author_email }}
	{% else %}
		<div class="alert-message block-message error">
			<a class="close" href="#">&times;</a>
			<p><strong>No metadata information available !</strong> Stallion wasn't able to find info.</p>
			<ul>
			  <li>The package probably doesn't have the <strong>PKG-INFO</strong> metadata.</li>
			  <li>Stallion wasn't able to find the <strong>PKG-INFO</strong> metadata.</li>
			</ul>
		</div>
	{% endif %}

	</div>
	<div class="span6">
		alalalal
	</div>
</div>




{% endblock %}