<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stallion, package manager for Python</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link href="/static/extra.css" rel="stylesheet">
  <style type="text/css">
	img.midicon { vertical-align: middle; }
  </style>
</head>

<body>
    <div class="topbar" data-scrollspy="scrollspy" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/">Stallion</a>

          <ul class="nav">
            <li><a href="#">Search for Packages</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </div>


<div class="container-fluid">
	<div class="sidebar">
		<div align="center"><img src="/static/box.png"></div>
		<div class="page-header">
		<h3>Packages</h3>
		</div>
		{% for dist in distributions|sort(attribute="project_name") %}
			<img src="/static/box-icon.png">
			<a href="/distribution/{{ dist.key }}">{{ dist.project_name }} {{ dist.version }}</a> <br/>
		{% endfor %}
	</div>

	<div class="content">
		<div class="page-header">
			<h1>Stallion<small> A Package Manager for Python</small></h1>
		</div>

		<ul class="breadcrumb">
			{% for path in breadpath %}
				{% if loop.last %}
					<li class="active">{{ path.title }}</li>
				{% else %}
					<li><a href="{{ path.href }}">{{ path.title }}</a> <span class="divider">/</span></li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="page-header">
		<h2>{% block section_title %}{% endblock %}</h2>
		</div>
		<p>
		{% block content %}{% endblock %}
		</p>



    <footer class="footer">

      <div class="container">
        <p>
		Created by <em>Christian S. Perone</em> 2011 <a href="http://twitter.com/tarantulae" target="_blank">@tarantulae</a>, <a href="http://pyevolve.sourceforge.net/wordpress" target="_blank">Pyevolve Blog</a>.<br />

		  Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">
		  Apache License v2.0</a>.
        </p>
      </div>
    </footer>



	</div>


</div>



</body>
</html>