
						
<tr>
	<td><strong>Metadata Version</strong></td>
	<td>{{ distinfo["metadata-version"] }}</td>
</tr>

<tr>
	<td><strong>Package Name</strong></td>
	<td>{{ distinfo["name"] }}</td>
</tr>

<tr>
	<td><strong>Version</strong></td>
	<td>{{ distinfo["version"] }}</td>
</tr>

<tr>
	<td><strong>Platform</strong></td>
	<td>
		{% set platforms = distinfo["platform"] %}

		{% if not platforms %}
			<span class="label warning">No platform specified</span>
		{% elif platforms is string %}
			{{ platforms }}
		{% else %}
			<ul>
			{% for platform in platforms %}
				<li>{{ platform }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</td>
</tr>

<tr>
	<td><strong>Supported Platform <br />(<em>binary distributions</em>)</strong></td>
	<td>
		{% set platforms = distinfo["supported-platform"] %}

		{% if not platforms %}
			<span class="label warning">No supported platform specified</span>
		{% elif platforms is string %}
			{{ platforms }}
		{% else %}
			<ul>
			{% for platform in platforms %}
				<li>{{ platform }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</td>
</tr>

<tr>
	<td><strong>Keywords</strong></td>
	<td>{{ distinfo["keywords"] }}</td>
</tr>

<tr>
	<td><strong>Project site</strong></td>
	<td><a href="{{ distinfo["home-page"] }}">
	<img src="{{ url_for('static', filename='world.png') }}" class="midicon"> 
	{{ distinfo["home-page"] }}</a></td>
</tr>

<tr>
	<td><strong>Author</strong></td>
	<td>{{ distinfo["author"] }}</td>
</tr>

<tr>
	<td><strong>Author Email</strong></td>
	<td><a href="mailto:{{ distinfo["author-email"] }}">
	<img src="{{ url_for('static', filename='mail.png') }}" class="midicon"> 
	{{ distinfo["author-email"] }}</a></td>
</tr>

<tr>
	<td><strong>Project License</strong></td>
	<td>{{ distinfo["license"] }}</td>
</tr>

<tr>
	<td><strong>Classifiers</strong></td>
	<td>
		{% set classifier = distinfo["classifier"] %}
		{% if classifier %}
		<ul>
			{% for cl in classifier %}
				<li>{{ cl }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<span class="label warning">Warning</span> <em>No classifiers specified.</em>
		{% endif %}
	</td>
</tr>






